@model IEnumerable<Library.Models.Book>

@{
    ViewData["Title"] = "Rentals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                <a asp-action="Index3" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Title)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <form method="post">
                        <button asp-controller="Books" asp-action="Return" asp-route-id="@item.Id">Return</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
